.top{
    height: auto;
    width: 100%;
    margin-left: 0%;
    position:fixed;
    top: 0; 
    margin-bottom: 5px;
    background: #24292F;
    text-align: center;
    color: white;
}

.top ul{
    padding: 0;
 
    text-align: center;
    width: auto;
    list-style-type: none;

}

.top li{
    float:left;
    margin-right: 2%;
    font-weight: bold;
    position: relative;
}

.top li p{
    display: block;
}

.top image{
    align-content: center;
}

p{
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
  
}


.login_box{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%,-50%);
}
